@import '../foundation/all';

.btn {
  border: transparent;
  border-radius: map-get($spacing, 'xxs');
  font-family: $body-font-family;
  font-size: $body-font-size;
  padding: map-get($spacing, 'sm') map-get($spacing, 'lg');
  cursor: pointer;
  box-shadow: map-get($shadows, 'base');
  outline: transparent;


}

.btn-primary {
  background-color: $btn-primary-bg-color;
  color: $btn-primary-color;
}

.btn:hover {
  background-color: $btn-primary-bg-hover;

}