@import '../foundation/all';

.btn {
  border: transparent;
  border-radius: map-get($spacing, 'xxs');
  font-family: $body-font-family;
  font-size: $body-font-size;
  padding: map-get($spacing, 'sm') map-get($spacing, 'lg');
  cursor: pointer;
  box-shadow: map-get($shadows, 'base');

  &:hover {
    background-color: $btn-primary-bg-hover;
  }

  &:focus, &:focus-visible {
    outline: none;
  }

  &-primary {
    background-color: $btn-primary-bg-color;
    color: $btn-primary-color;

    &:hover {
      background-color: $btn-primary-bg-hover;
    }
  }


}

